{% extends "templates/page.html" %}

{% block header %}
  {{ govukHeader({
    homepageUrl: '/admin',
    productName: 'Admin',
    XserviceName: 'Service Name',
    XserviceUrl: '/',
    XcontainerClasses: 'monkey'
    })
  }}
{% endblock %}

{% block content %}
<div class="admin-content">
{{ super() }}
</div>
{% endblock %}

{% block bodyEnd %}
{{ super() }}
<style type="text/css">
.admin-content .govuk-grid-column-two-thirds {
  width: 100%;
}

[data-block-id="admin.instance--header"].fb-group {
  margin: -2rem 0 2rem;
}

[data-block-id="admin.instance--header"].fb-group p {
  font-size: 16px;
  margin: 0;
}

[data-block-id="admin.instance--navigation"] {
  display: grid;
  grid-template-columns: 50% 50%;
  position: relative;
  margin: 10px 0 20px;
}

[data-block-id="admin.instance--navigation"] p:first-child a {
	padding-left: 2rem;
}

[data-block-id="admin.instance--navigation"] p:last-child {
	text-align: right;
	padding-right: 2rem;
}

[data-block-id="admin.instance--navigation"] p a::before,
[data-block-id="admin.instance--navigation"] p a::after  {
  position: absolute;
	color: #005ea5;
  font-size: 60px;
  text-decoration: none;
}

[data-block-id="admin.instance--navigation"] p:hover a::before,
[data-block-id="admin.instance--navigation"] p:hover a::after  {
	color: #2b8cc4;
}

[data-block-id="admin.instance--navigation"] p:first-child a::before{
	content: '‹';
  left: 0;
}
[data-block-id="admin.instance--navigation"] p:last-child a::after{
	content: '›';
  right: 0;
}
[data-block-id="admin.instance--navigation"] em {
  position: absolute;
  left: -9999px;
}

a[href="/dev/null"] {
  display: none !important;
}

[data-block-id="admin.instance--url"] ul {
  font-size: 16px;
  margin: 0;
  padding: 0;
}
[data-block-id="admin.instance--url"] li {
  display: inline-block;
  list-style: none;
  margin: 0;
  padding: 0 2rem 0 0;
}

[data-block-id="admin.instance--properties"] li {
  font-size: 14px;
}
[data-block-id="admin.instance--properties"] li a:first-child {
  font-size: 19px;
}

button.govuk-button p {
  margin: 0;
}
</style>
<script src="/assets/autosize.js"></script>
<script type="text/javascript">
var $textareas = document.querySelectorAll('textarea')
if ($textareas.length) {
  autosize($textareas)
  setInterval(function () {
    autosize.update($textareas)
  }, 100)
}
</script>
{% endblock %}