{% extends "template.njk" %}

{% block head %}
<link rel="stylesheet" href="/assets/govuk-frontend-0.0.31-alpha.min.css">
<link rel="stylesheet" href="/assets/govuk-frontend-1.0.0.min.css">
{# <link rel="stylesheet" href="/assets/govuk-frontend-ie8-1.0.0.min.css"> #}
{% block styles %}{% endblock %}
{% endblock %}

{% block main %}
  <div class="govuk-width-container">
    {% block beforeContent %}{% endblock %}
    <main class="govuk-main-wrapper {{ mainClasses }}" id="main-content" role="main">
      {% block content %}{% endblock %}
    </main>
  </div>
{% endblock %}


{% block bodyEnd %}
<script src="/assets/govuk-frontend-1.0.0.min.js"></script>
{% block scripts %}{% endblock %}
{% endblock %}
