{% extends "templates/base.html" %}

{% block beforeContent %}
{% if page.previouspage -%}
{{ callMacro('govukBackLink', {
  "href": page.previouspage,
  "text": "Back"
}) }}
{%- endif %}
{% endblock %}

{% block content %}
{# {{ JSON(page, null, 2) | safe}} #}
<form method="post" action="{{ page.nextpage }}"{% if not page._form %} class="govuk-prose-scope"{% endif %}>
{% if page._type !== 'page.singlequestion' %}
<h1>{{ page.heading | safe }}</h1>
{% endif %}
{{ page.body | safe }}
{{ callBlocks(page.components) }}
{% if page.nextpage %}
<p>{% from "button/macro.njk" import govukButton %}</p>
{{ govukButton({
  text: "Continue"
}) }}
{% endif %}
</form>
{% endblock %}