{% extends "page.njk.html" %}
{% block main %}
  <div class="govuk-width-container govuk-body-m">
    <main class="govuk-main-wrapper" id="main-content" role="main">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h1>Maintenance Page</h1>
          <h3>Fixing something</h3>
          <img src="https://motherboard-images.vice.com/content-images/contentimage/26327/1444070256569233.gif?resize=574:*">
        </div>
      </div>
    </main>
  </div>
{% endblock %}
