{% extends "page.njk.html" %}
{% block main %}
  <div class="govuk-width-container govuk-body-m">
    <main class="govuk-main-wrapper" id="main-content" role="main">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h1 class="govuk-heading-xl">Sorry, this form is unavailable</h1>
          <p class="govuk-body">
            You will be able to use this form from 9am on Monday 17 January 2022.
          </p>
          <p class="govuk-body">
            If you were in the process of completing the form, your answers have not been saved. You will have to start again when the form is available.
          </p>
        </div>
      </div>
    </main>
  </div>
{% endblock %}
