{% extends "page.njk.html" %}

{% block main %}
  <div class="govuk-width-container govuk-body-m">
    <main class="govuk-main-wrapper" id="main-content" role="main">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h1>You will have to start again</h1>
          <h3>For your security, we cleared your details because you did not do anything for 5 minutes.</h3>
          <a href='/' class="fb-block fb-block-actions govuk-button">Start again</a>
        </div>
      </div>
    </main>
  </div>
{% endblock %}
